@model MVCWebApplication.Entities.MediaType

@{
    ViewData["Title"] = "Delete";
}

<h1>წაშლა</h1>

<h3>დარწმუნებული ხართ რომ გსურთ წაშლა?</h3>
<div>
    <h4>სახეობა</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailImagePath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="წაშლა" class="btn btn-danger" /> |
        <a asp-action="Index">უკან დაბრუნება</a>
    </form>
</div>
